body {
    font-family: 'Courier New', Courier, monospace;
    background-color:antiquewhite;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

p {
    margin: 10px 25px;
}